/**
 * 局部scss样式和$变量，需要在目标组件内部css里按需引入的样式（非全局）
 * 使用方式,在样式文件中@import "~assets/css/local.scss"
 */

// 页面的主题色,目前为京东红
$mainColor: #ff3a44;
// 页面的灰色底色
$lightColor: #f5f8fc;

// 单行文字省略
@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// 多行文字省略 value为要省略的行数
@mixin ellipsis2($value: 2) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: $value;
}

// 滑动条的样式
@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}