.page-result {
  display: flex;
  align-items: center;

  .content {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 10px 0;

    .page-image {
      width: 60px;
      height: 60px;
      margin: 0 auto;
      background-repeat: round;
    }

    .main-title {
      font-size: 21px;
      color: #314659;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 10px;
      line-height: 1;
    }

    .second-text {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 15px;
      line-height: 1;
      color: #8b8b8b;
      font-size: 16px;
    }
  }
}