.step-box {
  display: flex;
  align-items: center;
  .step-item {
    flex: 1;
    position: relative;
    padding: 30px 0;

    .step-top-text {
      position: absolute;
      top: 0;
      white-space: nowrap;
      transform: translateX(-50%);
    }

    .step-middle {
      width: 100%;
      display: flex;
      align-items: center;

      //圆点默认样式
      .step-circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ccc;
        display: inline-block;
      }

      //大圆点蓝色样式
      .big-circle-blue {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #6057ee;
        display: inline-block;
      }

      //大圆点灰色样式
      .big-circle-gray {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #ccc;
        display: inline-block;
      }

      .line-solid-gray {
        flex: 1;
        border-bottom: 2px solid #ccc;
      }

      .line-dashed-gray {
        flex: 1;
        border-bottom: 2px dashed #ccc;
      }

      .line-solid-blue {
        flex: 1;
        border-bottom: 2px solid #6057ee;
      }

      .line-dashed-blue {
        flex: 1;
        border-bottom: 2px dashed #6057ee;
      }
    }

    .step-bottom-text {
      position: absolute;
      bottom: 0;
      white-space: nowrap;
      transform: translateX(-50%);
    }
  }

  .step-item-last {
    padding: 30px 0;
    display: inline-block;
    position: relative;
  }
}